appdirs==1.4.4
black==26.3.1
click==8.3.1
colorama==0.4.6
cycler==0.12.1
kiwisolver==1.5.0
matplotlib==3.10.8
mypy-extensions==1.1.0
numpy==2.4.3
opencv-python==4.13.0.92
pathspec==1.0.4
Pillow==12.1.1
pyparsing==3.3.2
python-dateutil==2.9.0
regex==2026.2.28
six==1.17.0
toml==0.10.2
pyserial==3.5
PyQt5==5.15.11
qdarkstyle==3.2.3
requests==2.32.5